@import 'variables';

dl,
body {
  margin: 0;
}

body {
  background-color: $background-color;
  color: $color-purple-light;
}

* {
  font-family: $font-family;

  &:focus {
    outline: 0;
    outline: none;
  }
}

.card {
  position: relative;
  border-radius: $border-radius-xs;
  box-shadow: $box-shadow-light;
  box-sizing: border-box;
  background: $background-color-primary;
  width: 100%;
}

.card-content {
  box-sizing: border-box;
}

.has-text-lg {
  font-size: $font-lg;
}
.has-text-md {
  font-size: $font-md;
}
.has-text-sm {
  font-size: $font-sm;
}

.has-overflow-hidden {
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.has-background-secondary {
  background-color: $secondary-content-color;
}

.has-background-primary {
  background-color: white;
}

// Borders
.has-border {
  border: 1px solid $color-grey;
}

.has-border-top {
  border-top: 1px solid $color-grey;
}

.has-border-bottom {
  border-bottom: 1px solid $color-grey;
}

.is-rounded {
  border-radius: $border-radius-lg;
}

.is-rounded-sm {
  border-radius: $border-radius-md;
}

.is-rounded-xs {
  border-radius: $border-radius-xs;
}

.is-borderless {
  border: none;
}

.is-clickable {
  cursor: pointer;
  user-select: none;
}

label {
  display: inline-block;
  margin-bottom: $spacing-sm;
}

// colors
.is-primary {
  color: $color-purple;
}

.is-secondary {
  color: $color-purple-light;
}

.is-accent {
  color: $color-accent;
}

.is-grey {
  color: $color-disabled;
}

.is-disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
